.card-1 {
  border-top: 5px solid #ff4f64;
  height: 40vh;
  width: 30vw;
  background-size: cover;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  height: 40vh;
  width: 30vw;
  background-size: cover;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  /* height: 40vh;
  width: 30vw;
  background-size: cover; */
}

.card-4 {
  border-top: 5px solid #fcc200;
  /* height: 40vh;
  width: 30vw;
  background-size: cover; */
}

/* Write CSS code here. */

.card-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: 100px;
}

.card-item h2 {
  font-size: 18px;
  margin-top: 10px;
}

.card-item p {
  font-size: 14px;
  margin-top: 8px;
  color: #64748b;
}

.card-image {
  width: 30px;
  height: 50px;
  border-radius: 8px;
}

.card-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
